<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crizal</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Page styles -->
    <link rel="stylesheet" href="../styles/css/style.min.css">

    <!-- Page scripts -->
    <script src="../scripts/js/script.min.js" async="" defer=""></script>
</head>
<body class="non-responsive">

<!-- block: .header -->
<header class="header">
    <div class="container">
        <div class="header__logo">
            <a href="#">
                <span>Четкое зрение</span>
            </a>
        </div>
        <div class="header__links">
            <a class="header__link" href="#"><i class="icon-vision-test"></i><span class="">Проверить зрение</span></a>
            <a class="header__link" href="#"><i class="icon-glasses"></i><span class="">Где купить Crizal?</span></a>
        </div>
    </div>
</header>
<!-- end block: .header -->

<!-- block: .nav -->
<nav class="nav" data-nav>
    <div class="nav__dialog">
        <ul class="nav__menu">
            <li class="nav__menu-item"><a class="nav__menu-" href="#">Главная страница</a></li>
            <li class="nav__menu-item"><a class="nav__menu-" href="#">О линзах Crizal</a></li>
            <li class="nav__menu-item"><a class="nav__menu-" href="#">Использование Crizal</a></li>
            <li class="nav__menu-item"><a class="nav__menu-" href="#">Специальные решения</a></li>
        </ul>

        <footer class="nav__footer">
            <a class="nav__footer-" href="#">Проверка зрения</a>
            <a class="nav__footer-" href="#">Вопрос-ответ</a>
            <a class="nav__footer-" href="#">Где купить?</a>
            <a class="nav__footer-" href="#">Акции и анонсы</a>
            <a class="nav__footer-" href="#">Обратная связь</a>
        </footer>
    </div>
</nav>

<a class="nav-toggle" data-nav-toggle></a>
<!-- end block: .nav -->

<!-- block: .main -->
<main class="map">
    <section class="map__address">
        <div class="container">
            <h2>Где купить Crizal?</h2>
            <div class="address js__main-addresses">
                <div class="address__row t-align-left">
                    <div class="address__links">
                        <a class="address__item address__item-large js__select-address active" href="#" data-id="126"><span class="address__link address__link_large">Москва</span></a>
                        <a class="address__item address__item-large js__select-address" href="#" data-id="12"><span class="address__link address__link_large">Санкт-Петербург</span></a>
                    </div>
                    <div class="address__links">
                        <a class="address__item js__select-address" href="#" data-id="463"><span class="address__link address__link_medium">Екатеринбург</span></a>
                        <a class="address__item js__select-address" href="#" data-id="382"><span class="address__link address__link_medium">Казань</span></a>
                        <a class="address__item js__select-address" href="#" data-id="405"><span class="address__link address__link_medium">Набережные Челны</span></a>
                        <a class="address__item js__select-address" href="#" data-id="416"><span class="address__link address__link_medium">Нижнекамск</span></a>
                        <a class="address__item js__select-address" href="#" data-id="215"><span class="address__link address__link_medium">Новосибирск</span></a>
                    </div>
                    <div class="address__links">
                        <a class="address__item js__select-address" href="#" data-id="290"><span class="address__link address__link_medium">Пермь</span></a>
                        <a class="address__item js__select-address" href="#" data-id="426"><span class="address__link address__link_medium">Самара</span></a>
                        <a class="address__item js__select-address" href="#" data-id="355"><span class="address__link address__link_medium">Уфа</span></a>
                    </div>
                </div>
                <a class="address__item-all js__show-all-addresses" href="#"><span class="link">Все города</span></a>
            </div>
            <div class="address address__all js__all-addresses">
                <div class="address__row t-align-left">
                    <div class="address__links">
                        <a class="address__item address__item-large js__select-address white active" href="#" data-id="126"><span class="address__link address__link_large">Москва</span></a>
                        <a class="address__item address__item-large js__select-address white" href="#" data-id="12"><span class="address__link address__link_large">Санкт-Петербург</span></a>
                    </div>
                    <div class="address__links">
                        <a class="address__item js__select-address white" href="#" data-id="120"><span class="address__link address__link_small">Балашиха</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="214"><span class="address__link address__link_small">Бердск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="279"><span class="address__link address__link_small">Березники</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="461"><span class="address__link address__link_small">Березовский</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="282"><span class="address__link address__link_small">Верещагино</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="1"><span class="address__link address__link_small">Всеволожск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="2"><span class="address__link address__link_small">Выборг</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="3"><span class="address__link address__link_small">Гатчина</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="283"><span class="address__link address__link_small">Добрянка</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="463"><span class="address__link address__link_small">Екатеринбург</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="122"><span class="address__link address__link_small">Железнодорожный</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="124"><span class="address__link address__link_small">Жуковский</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="125"><span class="address__link address__link_small">Зеленоград</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="382"><span class="address__link address__link_small">Казань</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="4"><span class="address__link address__link_small">Кингисепп</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="6"><span class="address__link address__link_small">Кириши</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="7"><span class="address__link address__link_small">Колпино</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="284"><span class="address__link address__link_small">Краснокамск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="9"><span class="address__link address__link_small">Кронштадт</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="285"><span class="address__link address__link_small">Кунгур</span></a>
                    </div>
                    <div class="address__links">
                        <a class="address__item js__select-address white" href="#" data-id="204"><span class="address__link address__link_small">Мытищи</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="405"><span class="address__link address__link_small">Набережные Челны</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="416"><span class="address__link address__link_small">Нижнекамск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="506"><span class="address__link address__link_small">Нижний Тагил</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="215"><span class="address__link address__link_small">Новосибирск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="248"><span class="address__link address__link_small">Омск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="290"><span class="address__link address__link_small">Пермь</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="206"><span class="address__link address__link_small">Подольск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="10"><span class="address__link address__link_small">Приозерск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="11"><span class="address__link address__link_small">Пушкин</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="208"><span class="address__link address__link_small">Реутов</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="426"><span class="address__link address__link_small">Самара</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="349"><span class="address__link address__link_small">Соликамск</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="355"><span class="address__link address__link_small">Уфа</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="210"><span class="address__link address__link_small">Химки</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="350"><span class="address__link address__link_small">Чернушка</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="352"><span class="address__link address__link_small">Чусовой</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="212"><span class="address__link address__link_small">Щелково</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="115"><span class="address__link address__link_small">дер. Кудрово, Всеволожский район</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="508"><span class="address__link address__link_small">Одинцовский район</span></a>
                    </div>
                    <div class="address__links">
                        <a class="address__item js__select-address white" href="#" data-id="460"><span class="address__link address__link_small">пос. Восемнадцатый километр, Кировский район</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="353"><span class="address__link address__link_small">пос. Нижняя Курья</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="507"><span class="address__link address__link_small">пос. Новоберёзовский, Березовский</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="117"><span class="address__link address__link_small">пос. Парголово</span></a>
                        <a class="address__item js__select-address white" href="#" data-id="119"><span class="address__link address__link_small">пос. Шушары</span></a>
                    </div>
                </div>
                <a class="address__item-close js__show-main-addresses" href="#"><span class="link address__all-link-close">Закрыть</span></a>
            </div>
        </div>
    </section>

    <section class="map__current_city">
        <div class="container">
            <h2 class="js__current_city">Москва</h2>
            <div class="surrounding-cities">
                <div class="surrounding-cities__caption">ближайшие города</div>
                <div class="surrounding-cities__items js__surrounding_cities">
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="120"><span class="surrounding-cities__link">Балашиха</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="122"><span class="surrounding-cities__link">Железнодорожный</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="124"><span class="surrounding-cities__link">Жуковский</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="125"><span class="surrounding-cities__link">Зеленоград</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="204"><span class="surrounding-cities__link">Мытищи</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="206"><span class="surrounding-cities__link">Подольск</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="208"><span class="surrounding-cities__link">Реутов</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="210"><span class="surrounding-cities__link">Химки</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="212"><span class="surrounding-cities__link">Щелково</span></a>
                    <a class="surrounding-cities__item js__select-address" href="#" data-id="508"><span class="surrounding-cities__link">Одинцовский район</span></a>
                </div>
            </div>
        </div>
    </section>

    <section class="map__canvas">
        <div class="container">
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
    </section>

    <section class="map__optics">
        <div class="container">
            <div class="optics js__optics">
            </div>
        </div>
    </section>
</main>
<!-- end block: .main -->

<!-- block: .special -->
<section class="special">
    <h2>Специальные решения Crizal</h2>
    <div class="container">
        <div class="teasers">
            <a class="teaser">
                <div class="teaser__image" style="background-image: url('../images/main-special-solutions-1.jpg')"></div>
                <div class="teaser__title">Прозрачные</div>
            </a>
            <a class="teaser">
                <div class="teaser__image" style="background-image: url('../images/main-special-solutions-2.jpg')"></div>
                <div class="teaser__title">Фотохромные</div>
            </a>
            <a class="teaser">
                <div class="teaser__image" style="background-image: url('../images/main-special-solutions-3.jpg')"></div>
                <div class="teaser__title">Компьютерные</div>
            </a>
            <a class="teaser">
                <div class="teaser__image" style="background-image: url('../images/main-special-solutions-4.jpg')"></div>
                <div class="teaser__title">Поляризационные</div>
            </a>
        </div>
    </div>
</section>
<!-- end block: .special -->

<!-- block: .footer -->
<footer class="footer">
    <div class="container">
        <div class="contraindications">ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМО ОЗНАКОМИТЬСЯ С ИНСТРУКЦИЕЙ<br/>ПО ПРИМЕНЕНИЮ ИЛИ ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ СПЕЦИАЛИСТА</div>
        <div class="footer__content">
            <div class="footer-logo">
                <p>Продукция</p>
                <p>компании Essilor</p>
            </div>
            <div class="footer-links">
                <p><a class="" href="#">Карта сайта</a></p>
                <p><a class="" href="#">Обратная связь</a></p>
            </div>
            <div class="footer-links">
                <p><a class="" href="#">О линзах Crizal</a></p>
                <p><a class="" href="#">Преимущества Crizal</a></p>
            </div>
            <div class="footer-links">
                <p><a class="" href="#">Акции и анонсы</a></p>
                <p><a class="" href="#">Вопрос-ответ</a></p>
            </div>
            <div class="footer-links">
                <p><a class="" href="#">Проверка зрения</a></p>
                <p><a class="" href="#">Где купить?</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- end block: .footer -->

<script type="text/template" id="js__surrounding-cities-item-template">
    <a class="surrounding-cities__item js__select-address" href="#" data-id="<%= id %>"><span class="surrounding-cities__link"><%= city %></span></a>
</script>

<script type="text/template" id="js__optics__item-template">
    <div class="optics__item js__select-optics" data-id="<%= id %>">
        <div class="optics__item-name" data-number="<%= i %>"><%= name %></div>
        <% if (description !== "" && typeof(description) !== "undefined") { %>
        <div class="optics__item-description"><%= description %>,</div>
        <% } %>
        <div class="optics__item-street"><%= address %></div>
    </div>
</script>

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

</body>
</html>